{% extends 'base.html' %}

{% block title %}
Login Page
{% endblock %}

{% block content %}
<body>
    <div class="container" style="padding: 30px; width: 750px">
        <style>
            .field_name {
                font-size: large;
                font-weight: 800;
                padding-bottom: 10px;
                padding-top: 10px;
            }
        </style>
        <form method="POST" class="form-signin" style="color: white;">
            {{ form.hidden_tag() }}
            <h1 class="h1 nb-3 font-weight-normal" style="text-align: center;">
                Login
            </h1>
            <br>
            {{ form.username.label(class = "field_name") }}
            {{ form.username(class = "form-control", placeholder = "Username") }}

            {{ form.password.label(class = "field_name") }}
            {{ form.password(class = "form-control", placeholder = "Password") }}

            <br>

            {{ form.submit(class = "btn btn-block btn-lg btn-primary", style = "float: right; width: 200px") }}

            <div class="checkbox mb-3">
                <h5>Don't have an account?</h5>
                <a class="btn btn-sm btn-secondary" href="{{ url_for('register_page') }}">Register</a>
            </div>
        </form>
    </div>
</body>

{% endblock %}