{% extends 'base.html' %}

{% block title %}
Register Page
{% endblock %}

{% block content %}

<div class="container" style="padding: 30px; width: 750px">
    <style>
        .field_name {
            font-size: large;
            font-weight: 800;
            padding-bottom: 10px;
            padding-top: 10px;
        }
    </style>
    <form class="form-register" style="color: white" method="POST">
        {{ form.hidden_tag() }}
        <h1 style="text-align: center;">Create your account</h1> <br>
        {{ form.username.label(class = "field_name") }}
        {{ form.username(class = "form-control", placeholder = "Username") }}

        {{ form.email_address.label(class = "field_name") }}
        {{ form.email_address(class = "form-control", placeholder = "Email Address") }}

        {{ form.password1.label(class = "field_name") }}
        {{ form.password1(class = "form-control", placeholder = "Password") }}

        {{ form.password2.label(class = "field_name") }}
        {{ form.password2(class = "form-control", placeholder = "Confirm Password") }}

        <br>
        {{ form.submit(class = "btn btn-block btn-lg btn-primary", style = "float: right; width: 200px") }}

        <div class="checkbox mb-3">
            <h5>Already have an account?</h5>
            <a class="btn btn-sm btn-secondary" href="{{ url_for('login_page') }}">Login</a>
        </div>
    </form>
</div>

{% endblock %}